@appView-2d-body-color: #FDFDFD;

@import "./appView-container.less";
@import "/webDev.less";

.view-body-2d {
  max-width: 1300px;
  margin: 0px auto;
  background-color: @appView-2d-body-color;
  border-left: 1px solid @color-4;
  border-right: 1px solid @color-4;
  padding-bottom: 36px;

  h2 {
    text-align: center;
    font-size: 300%;
  }
}
.view-body-2d > p {
  color: #FAEBD7;
  font-size: 125%;
}
h2.section-title {
  padding: 25px 0px 0px 0px;
  color: @color-4;
}
p.animation-intro {
  white-space: normal;
  margin-bottom: 30px;
}
.project-container.animation {
  max-width: 750px;
  margin: 0px auto;
  img {
    max-width: 750px;
  }
  iframe {
    margin: 0px auto;
    display: block;
  }
}

.animation-3d {
  .animate-height;
}


.digital-art {

  .animate-height;
   text-align: center;

  .project-container {
    margin: 24px 0px;
    display: inline-block;
    max-width: 45%;

    .img-wrapper {
      width: 100%;
    }

    p {
      white-space: normal;
      text-align: start;
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: @breakPoint1) {
 .digital-art {
   max-width: 80%;
   margin: 0px auto;
   .project-container {
     max-width: 73%;
     .project-title {
       text-align: center;
     }
   }
   .img-wrapper > img {
     margin: auto;
   }
 }
}

.about-me {
  .animate-height;
  .project-container {
    max-width: 650px;
    margin: 0px auto;
  }
  a {
    font-size: 125%;
    vertical-align: middle;
  }
}
.profile-pic {
  max-width: 250px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-bottom: 24px;
}
p.about-me-intro {
  display: block;
  margin: 0px auto 24px auto;
  white-space: normal;
}


.contact {
  a {
    display: block;
    margin: 36px auto;
  }
  img {
    vertical-align: middle;
    margin-right: 8px;
  }
  .link-container {
    max-width: 225px;
    margin: 0 auto;
  }
}
