@import "./scene-detail-controls.less";
@import "./switch-views.less";
@import "./buttons.less";

.appView-3d {
  width: 100%;

  // height: calc(~'100% - @{navigation-bar-height}');
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}
.stats {
  position: fixed;
  width: 80px;
  opacity: 0.9;
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 5;
}
.face-count {
  position: absolute;
  top: -46px;
  left: 82px;
  color: white;
}
canvas.hovered-3d {
  cursor: pointer;
}
@media screen and (max-width: @breakPoint1) {
  // .appView-3d {
  //   height: calc(~'100% - @{navigation-bar-height-mobile}');
  // }
}
