@appView-2d-body-color: #FFFFFF;
.appView-2d {
  background-color: @color-1;
}
.view-body-2d {
  max-width: 1300px;
  margin: 0px auto;
  background-color: @appView-2d-body-color;
}
.view-body-2d > p {
  color: #FAEBD7;
  font-size: 125%;
}
.project-container {
  width: 95%;
  margin: 0px auto;
  padding: 0px 8px;
}
.text-wrapper, .img-wrapper {
  width: 48%;
  display: inline-block;
}
.text-wrapper {
  margin: 0px;
  vertical-align: top;
}
.img-wrapper {
  margin: 0px;
  padding: 0px;
}
.img-wrapper {

  img {
    max-width: 100%;
    float: right;
  }
}
hr {
  margin: 24px auto;
  height: 3px;
  width: 80%;
  background-color: #062F4F;
}
.project-title {
  color: #062F4F;
  width: 100%;
  text-align: left;
  font-size: 200%;
  padding: 0px 0px 8px 0px;
}
