@appView-2d-body-color: #FDFDFD;

@import "./appView-container.less";
@import "/webDev.less";

.view-body-2d {
  max-width: 1300px;
  margin: 0px auto;
  background-color: @appView-2d-body-color;
  border-left: 1px solid @color-4;
  border-right: 1px solid @color-4;
  padding-bottom: 36px;

  h2 {
    text-align: center;
    font-size: 300%;
  }
}
.view-body-2d > p {
  color: #FAEBD7;
  font-size: 125%;
}
h2.section-title {
  padding: 25px 0px 0px 0px;
  color: @color-4;
}
p.animation-intro {
  white-space: normal;
  margin-bottom: 30px;
}
.project-container.animation {
  max-width: 750px;
  margin: 0px auto;
  img {
    max-width: 750px;
  }
  iframe {
    margin: 0px auto;
    display: block;
  }
}
.digital-art {
  .project-container {
    margin: 8px 0px;
    display: inline-block;
    max-width: 600px;
    .img-wrapper {
      width: 100%;
    }
    p {
      white-space: normal;
    }
  }
}

.about-me {
  .project-container {
    max-width: 650px;
    margin: 0px auto;
  }
  a {
    font-size: 125%;
    vertical-align: middle;
  }
}
.profile-pic {
  max-width: 250px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-bottom: 24px;
}
p.about-me-intro {
  display: block;
  margin: 0px auto 24px auto;
  white-space: normal;
}
