.intro-view {
  max-width: 650px;
  min-height: 250px;
  margin: 48px auto auto auto;
  padding: 18px 24px;
  border: 2px solid @color-5;
  border-radius: @borderRadius;
  background-color: @color-2;

  p {
    margin: 8px;
    font-size: 150%;
    color: @color-5;
  }
}
.btn {
  background: #4f4f4f;
  background-image: -webkit-linear-gradient(top, #4f4f4f, #000000);
  background-image: -moz-linear-gradient(top, #4f4f4f, #000000);
  background-image: -ms-linear-gradient(top, #4f4f4f, #000000);
  background-image: -o-linear-gradient(top, #4f4f4f, #000000);
  background-image: linear-gradient(to bottom, #4f4f4f, #000000);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: @borderRadius;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  text-decoration: none;
  width: 50px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid @color-5;
  .BoxShadowHelper(1);
}

.btn:hover {
  background: #b82501;
  text-decoration: none;
  .BoxShadowHelper(3);
}

.intro-switch-2d, .intro-switch-3d {
  text-transform: uppercase;
}

.button-container-2 {
  width: 100%;
  margin: 36px auto 12px auto;
  text-align: center;
  border-top: none;
  box-sizing: border-box;
  border-radius: @borderRadius;
  position: relative;
}
.animateSwitchView {
  position: absolute;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  z-index: 999;
  min-height: 0px;
  > p, > div, > h1 {
    display: none;
  }
  animation-name: introViewAnimation;
  animation-duration: 1s;
}

@keyframes introViewAnimation {
    0%   { background-color: @color-2 }
    100% { background-color: @color-1; top:6px; right:15px; height:30px; width: 70px; opacity: 0 }
}
