@mobile-nav-menu-width: 450px;

.mobile-navigation-bar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: fixed;
  top: 0px;
  z-index: 1001;
  left: -2px;
  width: @mobile-nav-menu-width;
  height: 100%;
  border-right: 2px solid @color-4;
  background: @color-1;
  // animation-name: toggleSidebar;
  transition: all 0.5s;
}
.navbar-body {
  overflow: hidden;
  // padding: 8px;
}
@keyframes toggleSidebar {
    0%   { left: 0px; }
    100% { left: -@mobile-nav-menu-width; }
}

ul.nav-list  {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  li {
    width: 100%;
    display: block;
    position: relative;

    font-size: 200%;
    color: @text-color-default;
    &:nth-child(odd) {
      background-color: @pColor;
    }
    padding: 18px 0px;
    margin: 0px;
    cursor: pointer;
  }
  a {
    padding-left: 45px;
    overflow: hidden;
    white-space: nowrap;
    white-space: pre;
  }
}
.toolbar {
  width: 200px;
  margin: 6px auto;
  min-height: 50px;
  color: @color-5;
  // border: 1px solid @color-4;
}
.side-header {
  color: @color-5;
  width: 80%;
  height: 100px;
  margin: auto;
  background-image: url("/images/small-header.png");
}
hr.toolbar-hr {
  margin: 10px auto 16px auto;
  &::after {
    content: "";
    background-color: rgba(0,0,0,0);
    border: none;
  }
}
.button-menu-tab {
  transition: all 0.5s;
  position: absolute;
  left: @mobile-nav-menu-width;
  // background-color: @color-1;
  width: 75px;
  Height: 59px;
}
.button-home {
  display: inline-block;
}
.button-menu {
  left: 15px;
  top: 5px;
}
