@import "../base/css-menu.less";

.navigation-bar {
  position: relative;
  z-index: 200;
  width: 100%;
  // height: @navigation-bar-height;

  border-bottom: 1px solid @color-5;
  background-color: @color-1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.switch-views {
  position: absolute;
  // background-color: @color-1;
  top: 0;
  right: 8px;
  // border: 1px solid @color-5;
  color: @color-5;
  padding: 4px 8px;
  table {
    text-align: center;
  }
}
.separator {
  display: inline-block;
  width: 2px;
  height:10px;
  background-color: @color-5;
}

.switch-view-label {
  color: @color-5;
  display: inline-block;
  margin: 4px auto 8px auto;
  max-width: 50px;
  vertical-align: top;
}
.button-home {
  width: 10px;
  height: 30px;
}
.switch-view-button {
  color: #FAEBD7;
  display: inline-block;
  padding: 0px 12px 3px 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

@media screen and (max-width: @breakPoint1) {
  // .switch-views {
  //   display: none;
  // }

}
