@import "../base/css-menu.less";

.navigation-bar {
  position: relative;
  z-index: 200;
  width: 100%;
  height: @navigation-bar-height;
  border-bottom: 1px solid @color-4;
  background-color: @color-1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.separator {
  display: inline-block;
  width: 2px;
  height:10px;
  background-color: @color-5;
}
@media screen and (max-width: @breakPoint1) {
  .navigation-bar {
    height: @navigation-bar-height-mobile;
  }
}
