@import "../base/css-menu.less";

.navigation-bar {
  position: relative;
  z-index: 200;
  width: 100%;
  height: @navigation-bar-height;

  border-bottom: 1px solid @color-5;
  background-color: @color-1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.switch-views {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 45px;
  padding: 15px 0px;
}
.switch-views > div {
  color: #FAEBD7;
  display: inline-block;
  padding: 0px 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.dropdown {
    /*display: none;*/
    position: absolute;
    display: inline-block;
    right: 95px;
    top:10px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: black;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 6px;
    z-index: 1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}
