@button-size: 36px;

.scene-detail-controls {
  width: 100%;
  position: absolute;
  top:0px;
  .noselect;
  z-index: 105;

  &.slide-controls {
    .button-container.slides {
      display: block;
    }
  }
  &.loading {
    .button-container.loading {
      display: block;
    }
    .button-container.video, .button-container.slides {
      display: none;
    }
  }
  &.video-controls {
    .button-container.video {
      display: block;
    }
  }

}
.button-container {
  text-align: center;
  height:40px;
  max-width: 150px;
  background-color: @color-1;
  margin: 0px auto;
  border: 1px solid @color-4;
  border-top: none;
  box-sizing: border-box;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // overflow: hidden;
  &.loading {
    display: none;
    height: 100px;
    position: relative;
    // width: 130px;
    vertical-align: top;
    span {
      color: @color-5;
      text-transform: uppercase;
      font-weight: 900;
    }
  }
  &.slides {
    display: none;
    width: @button-size * 3 + 25;
  }
  &.video {
    display: none;
    width: @button-size * 4 + 25;
  }
}
.loading-icon {
  background-image: url(../sprites/loading.svg);
  display: inline-block;
  width: 90px;
  height: 90px;
  cursor: pointer;
  white-space: nowrap;
}
.slideshow-icon {
  background-image: url(../sprites/ic_slideshow_white_36px.svg);
}
.video-icon {
  background-image: url(../sprites/ic_tv_white_36px.svg);
}

.slideshow-icon,
.video-icon,
.button-play,
.button-pause,
.button-right,
.button-left,
.button-home {
  display: inline-block;
  width: @button-size;
  height: @button-size;
  cursor: pointer;
  white-space: nowrap;
}
.button-play, .button-right, .button-left {
  background-image: url(../sprites/ic_play_arrow_white_36px.svg);
}
.button-left {
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
.button-pause {
  background-image: url(../sprites/ic_pause_white_36px.svg);
}
.button-home {
  background-image: url(../sprites/ic_home_white_36px.svg);
}
#items-loading {
  margin-left: 12px;
}
.loading-label {
  margin: 12px auto;
  display: inline-block;
}
