@button-size: 48px;

.scene-detail-controls {
  .noselect;
  width: 100%;
  height: @bottomBarHeight;
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  background-color: rgba(1,1,1,0.150);
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  &.slide-controls { .button-container.slides { display: block; } }
  &.video-controls { .button-container.video { display: block; }  }

}
.button-container {
  position: absolute;
  height: 100%;
  margin: 0px auto;
  right: 0px;
  // border: 1px solid @color-4;
  background-color: rgba(1,1,1,0.50);
  text-align: center;
  border-top: none;
  box-sizing: border-box;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: relative;
  &.slides {
    display: none;
    width: @button-size * 3 + 25;
  }
  &.video {
    display: none;
    width: @button-size * 4 + 25;
  }
}

.slideshow-icon {
  background-image: url(../sprites/ic_slideshow_white_36px.svg);
}
.video-icon {
  background-image: url(../sprites/ic_tv_white_36px.svg);
}

.slideshow-icon,
.video-icon,
.button-play,
.button-pause,
.button-right,
.button-left,
.button-toggle-close,
.button-close,
.button-skip-next,
.button-skip-prev {
  display: inline-block;
  width: @button-size;
  height: @button-size;
  cursor: pointer;
  white-space: nowrap;
}
.button-play, .button-right, .button-left {
  background-image: url(../sprites/ic_play_arrow_white_48px.svg);

  &:hover {
    background-image: url(../sprites/ic_play_arrow_black_48px.svg);
  }
}
.button-right {
  position: absolute;
  right: 0px;
}
.button-left {
  position: absolute;
  left: 0px;
}
.button-left, .button-skip-prev {
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}
.button-pause {
  background-image: url(../sprites/ic_pause_white_36px.svg);
}
.home-button-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1001;
  pointer-events: none;
}

.button-home {
  width: 48px;
  height: 48px;
  background-image: url(../sprites/ic_home_white_48px.svg);
}
.button-toggle-close {
  .button-home;
  display: block;
  margin: 0px auto;
  pointer-events: all;
  &.open { background-image: url("../sprites/ic_close_white_48px.svg"); }
}

.button-skip-next, .button-skip-prev {
  background-image: url(../sprites/ic_skip_next_white_36px.svg);
}
.link-bar {
  background-color: @color-1;
  opacity: 0;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  transition: opacity @cssSpeed ease-in;
  border: 1px solid @color-5;
  border-left: 0px;
  &.show {
    opacity: 1;
  }
  a {
    display: block;
    font-size: 130%;
    padding: 8px 24px 8px 12px;
    color: @color-5;
    text-decoration: underline;
  }

}

// @media screen and (max-width: @breakPoint1) {
//   .scene-detail-controls {
//     // top: 59px !important;
//   }
// }
