.web-dev {
  position: relative;
  width: 100%;
}

.project-container {
  margin: 0px;
  padding: 0 24px;
  white-space: nowrap;
}

.project-title {
  color: @color-4;
  width: 100%;
  text-align: left;
  font-size: 200%;
  padding: 0px 0px 8px 0px;
}
.text-wrapper, .img-wrapper {
  width: 50%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  white-space: nowrap;
}
.text-wrapper {
  vertical-align: top;
  text-align: left;
  p {
    font-size:125%;
    padding-right: 5%;
    white-space: normal;
    color: @pColor;
  }
}
.img-wrapper {
  text-align: right;
  margin-left: -3px;
  img {
    max-width: 100%;
    display: block;
    // margin: 0px auto;
  }
}
hr {
  width: 80%;
  margin: 45px auto 30px auto;
	border-top: 4px double @color-4;
	text-align: center;

  &:after {
  	content: '\25CE';
  	display: inline-block;
  	position: absolute;
  	// top: -15px;
    margin-top:-15px;
  	padding: 2px 10px;
  	background: #FFFFFF;
    border: 1px solid @color-4;
  	color: @color-4;
  	font-size: 18px;
  }
  &.first {
    width: 25%;
    margin-top: 15px;
    &:after {
      margin-left: -10px;
      content: "1";
    }
  }

}

@media screen and (max-width: 768px) {
  .text-wrapper, .img-wrapper {
    width: 100%;
    display: block;
  }
  .img-wrapper {
    margin-top: 30px;
  }
  .text-wrapper {
    p {
      padding-right:0px;
    }

  }
}

@media screen and (max-width: 768px) {
  .text-wrapper, .img-wrapper {
    width: 100%;
    display: block;
  }
  .img-wrapper {
    margin-top: 30px;
  }
  .text-wrapper {
    p {
      padding-right:0px;
    }

  }
}
