.web-dev {
  position: relative;
  width: 100%;
  .animate-height;
}

.project-container {
  margin: 0px;
  padding: 0 24px;
  white-space: nowrap;
}

.project-title {
  color: @color-4;
  width: 100%;
  text-align: left;
  font-size: 225%;
  padding: 0px 0px 8px 0px;
}
.text-wrapper, .img-wrapper {
  width: 50%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  white-space: nowrap;
}
.text-wrapper {
  vertical-align: top;
  text-align: left;
  p {
    font-size:125%;
    padding-right: 5%;
    white-space: normal;
    color: @pColor;
  }
}
.img-wrapper {
  text-align: right;
  cursor: pointer;
  img {
    max-width: 100%;
    display: block;
  }

  &:hover {
    .hover-zoom {
      opacity: 1;
    }
  }
}
.hover-zoom {
  position: absolute;
  bottom: -3px;
  right: 0px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
hr {
  width: 80%;
  margin: 45px auto 30px auto;
	border-top: 4px double @color-4;
	text-align: center;

  &:after {
  	content: '\25CE';
  	display: inline-block;
  	position: absolute;
  	// top: -15px;
    margin-top:-15px;
  	padding: 2px 10px;
  	background: #FFFFFF;
    border: 1px solid @color-4;
  	color: @color-4;
  	font-size: 18px;
  }
  &.first {
    width: 25%;
    margin-top: 15px;
    &:after {
      margin-left: -10px;
      content: "1";
    }
  }

}
.link-container {
  margin-top: 22px;
  font-size: 150%;
  &:hover {
    .button-link {
      background-image: url(../sprites/ic_link_hover_36px.svg);
    }
  }
}

@media screen and (max-width: @breakPoint1) {
  .web-dev {
    width: 72%;
    margin: auto;

    .project-title {
      text-align: center;
    }
    .text-wrapper, .img-wrapper {
      width: 100%;
      display: block;
      text-align: center;
      p {
        padding-right: 0px;
        text-align: justify;
      }
    }
    .img-wrapper {
      margin-top: 30px;
    }
  }

}

@media screen and (max-width: @breakPoint1) {
  .text-wrapper, .img-wrapper {
    width: 100%;
    display: block;
  }
  .img-wrapper {
    margin-top: 30px;
  }
  .text-wrapper {
    p {
      padding-right:0px;
    }

  }
}
