<div class="project-container">
  <img class="profile-pic" src="/images/aboutMe/RickVpic.jpg"></img>
  <div class="project-title">About Me</div>
  <p class="about-me-intro">I live in the Monterey Bay area and have here lived here almost my entire life.  Outside of work I like to travel, hike, play and watching Basketball, play Halo, play board games. Most weeknights I am either working on a 3d animation / motion graphic or working on litte programming projects. Below is a link to my resume. My contact information is avaible in my resume.</p>
   <div class="link-wrapper">
     <div class="button-link"></div>
     <a href="other/Resume-RichardvonBuelowDec2016.pdf">Resume.pdf</a>
   </div>
   <div class="link-wrapper">
     <div class="button-link"></div>
     <a href="other/Resume-RichardvonBuelowDec2016.docx">Resume.docx</a>
   </div>
</div>
