<div class="project-container">
  <img class="profile-pic" src="/images/aboutMe/RickVpic.jpg"></img>
  <div class="project-title">About Me</div>
  <p class="about-me-intro">
     I'm Rick von Buelow and this is my portfolio site.  I have been a full time Web Developer for 3 years. My passion is on front end development.  My second passion is 3d Modeling and creating motion graphics. That is why I created my portfolio site in 2d and 3d. I like working on jobs that require me to use as many of my different skills as possible. Below is a link to my resume. My contact information is avaible in my resume. Thanks for taking the time to check out my portfolio website. You can fork/view this website code on github <a href="https://github.com/rvonbue/portfolio" target="_blank" style="font-size:100%;">here</a> </p>
   <div class="link-wrapper">
     <div class="button-file"></div>
     <a href="other/Resume-RichardvonBuelowDec2016.pdf">Resume.pdf</a>
   </div>
   <div class="link-wrapper">
     <div class="button-file"></div>
     <a href="other/Resume-RichardvonBuelowDec2016.docx">Resume.docx</a>
   </div>
</div>
