<div class="project-container animation">
  <p class='animation-intro'>Below is collection of my favorite animations from 2016. I used <a href='http://www.blender.org'>Blender</a> to render
    all the 3d graphics. Adobe Affter affects was used to composite the video and add the audio. My current system that was used to render these videos
    is a Windows 8, Intel i7 -3930k CPU, with two GTX 970's GPU's. Below is a link to my YouTube portfolio. The first video in the playlist is my "Blender cycles 2016 Demo".
  </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DWv4av-5MiE?list=PLuVBBqTFs-RebOygGDHcqiMUpmfbR_I0M" frameborder="0" align="middle" allowfullscreen></iframe>
</div>
<hr/>
