<div class="view-body home">
  <header>
    <h1>Web Development</h1>
  </header>

  <div class="project-container">
    <div class="project-title">Project #1</div>
    <div class="text-wrapper">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget accumsan nunc. Aliquam porttitor orci sed diam tempus fermentum. Nulla malesuada rutrum blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in ipsum tellus. Quisque vitae varius ipsum, ac molestie sapien. Nulla facilisi. Nunc placerat, tellus in fringilla porttitor, turpis massa molestie odio, ac volutpat orci augue quis est.
        Vivamus sodales maximus ante vitae pharetra. Suspendisse placerat ex quis diam porttitor convallis. Ut elementum quam quis nulla elementum mollis. Pellentesque mattis dolor turpis, vitae egestas eros ultricies non. Nulla in quam dolor. Vivamus nec dignissim arcu. Maecenas neque risus, consequat ut erat sed, auctor ultricies magna. Maecenas bibendum, enim eget consequat eleifend, sapien justo tempor leo, quis aliquam leo libero et erat. Vivamus efficitur condimentum volutpat. Maecenas quis aliquam nibh.
        Ut in arcu quam. Cras ultrices, nisl in tincidunt aliquam, sem nunc gravida lacus, id aliquam elit eros ac mauris. Etiam tincidunt sed sem at finibus. Pellentesque luctus nibh in dui convallis, nec finibus magna aliquam. Morbi consequat auctor lectus. Morbi finibus lacinia felis, ultrices lacinia erat feugiat a. Aenean lacinia eros at sapien eleifend finibus. Phasellus eu semper quam, a lobortis ante. Duis non risus ut enim eleifend bibendum ut auctor urna. Integer gravida molestie semper. Sed accumsan, ipsum vitae aliquet semper, lorem felis posuere risus, sit amet iaculis odio odio nec mi. Donec sollicitudin mi id nunc ultricies, id ullamcorper ligula mattis.
      </p>
    </div>
    <div class="img-wrapper">
      <img src="/textures/computerScreen.jpg"/>
    </div>
  </div>

  <hr>

  <div class="project-container">
    <div class="project-title">Project #1</div>
    <div class="text-wrapper">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget accumsan nunc. Aliquam porttitor orci sed diam tempus fermentum. Nulla malesuada rutrum blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur in ipsum tellus. Quisque vitae varius ipsum, ac molestie sapien. Nulla facilisi. Nunc placerat, tellus in fringilla porttitor, turpis massa molestie odio, ac volutpat orci augue quis est.
        Vivamus sodales maximus ante vitae pharetra. Suspendisse placerat ex quis diam porttitor convallis. Ut elementum quam quis nulla elementum mollis. Pellentesque mattis dolor turpis, vitae egestas eros ultricies non. Nulla in quam dolor. Vivamus nec dignissim arcu. Maecenas neque risus, consequat ut erat sed, auctor ultricies magna. Maecenas bibendum, enim eget consequat eleifend, sapien justo tempor leo, quis aliquam leo libero et erat. Vivamus efficitur condimentum volutpat. Maecenas quis aliquam nibh.
        Ut in arcu quam. Cras ultrices, nisl in tincidunt aliquam, sem nunc gravida lacus, id aliquam elit eros ac mauris. Etiam tincidunt sed sem at finibus. Pellentesque luctus nibh in dui convallis, nec finibus magna aliquam. Morbi consequat auctor lectus. Morbi finibus lacinia felis, ultrices lacinia erat feugiat a. Aenean lacinia eros at sapien eleifend finibus. Phasellus eu semper quam, a lobortis ante. Duis non risus ut enim eleifend bibendum ut auctor urna. Integer gravida molestie semper. Sed accumsan, ipsum vitae aliquet semper, lorem felis posuere risus, sit amet iaculis odio odio nec mi. Donec sollicitudin mi id nunc ultricies, id ullamcorper ligula mattis.
      </p>
    </div>
    <div class="img-wrapper">
      <img src="/textures/computerScreen.jpg"/>
    </div>
  </div>

</div>
