  <div class="button-container slides">
    <div class="button-left" title="Go to PREVIOUS interactive object"></div>
    <!-- <div class="button-home"></div> -->
    <div class="button-right" title="Go to NEXT interactive object"></div>
  </div>
  <div class="button-container video">
    <!-- <div class="button-skip-prev" title="Go to PREVIOUS interactive object"></div> -->
    <div class="button-pause"></div>
    <div class="button-play hide"></div>
    <!-- <div class="button-skip-next" title="Go to NEXT interactive object"></div> -->
  </div>
