  <div class="button-container slides">
    <div class="button-left"></div>
    <div class="button-home"></div>
    <div class="button-right"></div>
  </div>
  <div class="button-container video">
    <div class="button-left"></div>
    <div class="button-pause"></div>
    <div class="button-right"></div>
    <div class="button-right"></div>
  </div>
  <div class="button-container loading">
    <div class="loading-icon"></div>
    <span class="loading-label">Loading<span id="items-loading"></span></span>
  </div>
