@navigation-bar-height: 45px;
@navigation-bar-height-mobile: 45px;

@color-1: #000000;
@color-2: #062F4F;
@color-3: #813772;
@color-4: #B82601;
@color-5: #FFFFFF;
@pColor: #353839;

@cssSpeed: .4s;
@breakPoint1: 768px;
@fadeOutTime: 1s;
@bottomBarHeight: 48px;

@borderRadius: 2px;
@button-size: 48px;
